html{
    font-size: 62.5%;
    font-family: Verdana;
    color: #FFFFFF;
}
body{
    background: #181824;
    font-size: 16px;

}
 img {
    max-width: 100%;
    display: block;
    pointer-events: none;
 }

.header{
    width: 100%;
    background-size:cover;
    align-items: center;
}

.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    
}
.headerIMG{
    width: 100%;
    height: 352px;
    background: linear-gradient(131.73deg, rgba(114, 190, 248, 0.8) 14.46%, rgba(166, 116, 242, 0.8) 87.62%), url(images/bg__trees.png);
    background-repeat: no-repeat;
    background-size: cover;

}
.toDo{
    width: 100%;
    max-width: 540px;

}
.top-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 7rem 0 0 0;
}

.title{
    color: white;
    font-weight: bold;
    font-size: 4rem;
    line-height: 4rem;
    letter-spacing: 15px;
    padding-bottom: 5px;
}

.addToDo{
    background: #25273C;
    border-radius: .7rem;
    position: inherit;
    min-width: 60%;
    height: 29px;
    left: 320px;
    top: 152px;
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    
}
.add-input{
    position: static;
    width: 250px;
    height: 25px;
    left: 76px;
    top: 122px;
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.4);
    background-color: transparent;
    margin-left: 15px;
    padding: 5px;
    box-shadow: none;
    border: none;
}
.content{
    position: inherit;
    min-width: 60%;
    min-height: 148;
    left: 32rem;
    top: 29.6rem;
    background: #25273C;
    border-radius: .7rem;
    margin-top: 50px;
    padding-top: 1px;
    padding-bottom: 25px;

}


.toDoTitle{
    font-family: Verdana;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 4rem;
    line-height: 4rem;
}

ul {
    list-style-type: none;
    padding:0;

}

li{
    padding-left: 10px;
}

.line-through{
    text-decoration: line-through;
    color : #ccc;
}

.circle {
    width: 24px;
    height: 24px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-sizing: border-box;
    border-radius: 25px;
    float: left;
    background-color: transparent;

}
.check{
    width: 24px;
    height: 24px;
    left: 36px;
    top: 224px;
    background: linear-gradient(131.73deg, #72bef8 14.46%, #a674f2 87.62%);
    border-radius: 25px;
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
    border: none;
}
.hidden{
    visibility: hidden;
}

.remove{
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    float: right;
    background-color: transparent;
    border: none;
}
.remove:hover{
    color: white;
    font-weight: bold;
}


.item{
    width:98.5%;
    height: 45px;
    font-size: 16px;
    min-height: 45px;
    position: relative;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    list-style: none;
    padding-top: 15px;
    margin: 0;
}

.item p.text{
    position: absolute;
    padding-top: 10px;
    margin:0;
    left:50px;
    top:5px;
    background-color: transparent;
}

.filters .button{
    background-color: transparent;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(255, 255, 255, 0.4);
    border: none;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 12px;
    line-height: 15px;
}
.filters .button:hover{
    color: white; 
}

.filters{
    text-align: center;
}
